<launch>
  <machine name="raspberry_pi" address="raspberrypi.local" 
    user="pi" password="321" 
    env-loader="$(env KOTYAMBA_REPO_RASPBERRY)/setup_raspberry_pi_nodes.sh" >
  </machine>

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node"  machine="raspberry_pi" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="320" />
    <param name="image_height" value="240" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>
</launch>