[submodule "src/catkin-ws/src/usb_cam"]
	path = src/catkin-ws/src/usb_cam
	url = https://github.com/ros-drivers/usb_cam
[submodule "src/catkin-ws/src/diagnostics"]
	path = src/catkin-ws/src/diagnostics
	url = https://github.com/ros/diagnostics.git
[submodule "src/catkin-ws/src/joystick_drivers"]
	path = src/catkin-ws/src/joystick_drivers
	url = https://github.com/ros-drivers/joystick_drivers
[submodule "src/catkin-ws/src/roslint"]
	path = src/catkin-ws/src/roslint
	url = https://github.com/ros/roslint
