[Unit]
Description=Set up all variables required for distributed ROS nodes to communicate
After=network-online.target

[Service]
ExecStart=/bin/bash -c "`$KOTYAMBA_REPO_COMMAND_CENTER`/setup_command_center_nodes.sh"
User=oleg

[Install]
WantedBy=multi-user.target