[Unit]
Description= start TornadoWebServer
After=network-online.target

[Service]
ExecStart=/usr/bin/python server.py
WorkingDirectory=/home/pi/kotyambaCar/src/control_server
User=pi

[Install]
WantedBy=multi-user.target
