[Unit]
Description= start TornadoWebServer

[Service]
TimeoutStartSec=0
Restart=on-failure
ExecStart=/bin/bash ./start_server.sh
WorkingDirectory=/home/pi/kotyambaCar/src/control_server

[Install]
WantedBy=multi-user.target
