[Unit]
Description= setup ROS env variables for networking
After=network-online.target

[Service]
ExecStart=/bin/bash ./setup_command_center_nodes.sh

User=pi

[Install]
WantedBy=multi-user.target
