[Unit]
Description= setup ROS env variables for networking
After=network-online.target

[Service]
ExecStart=/bin/bash ./setup_command_center_nodes.sh
WorkingDirectory=/home/oleg/dev/kotyambaCar/src/catkin-ws/src/kotyambaCar/scripts
User=pi

[Install]
WantedBy=multi-user.target
